openapi: 3.0.1
info:
  title: ' chat/'
  description: Needs description.
  contact:
    name: Zoom Developers
    url: https://zoom.us/developer
    email: developer@zoom.us
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 1.0.0
externalDocs:
  description: Zoom REST API Documentation
  url: https://zoom.github.io/api
servers:
  - url: https://api.zoom.us/v1
security:
  - api_key: []
  - api_secret: []
tags: []
paths:
  /chat/get:
    post:
      tags:
        - Chat
      description: |+
        Get chat messages for a specified period.

      operationId: chatGet
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - access_token
                - from
                - session_id
                - to
              type: object
              properties:
                access_token:
                  type: string
                  description: >-
                    Archived chat messages access token. Admin who has the view
                    privilege of Archived chat messages will get it.
                session_id:
                  type: string
                  description: Session Id of chat messages.
                from:
                  type: string
                  description: Start date.
                to:
                  type: string
                  description: End date.
                page_size:
                  type: string
                  description: >-
                    The amount of records returns within a single API call.
                    Defaults to 30. Max of 30 records.
                  default: '30'
                next_page_token:
                  type: string
                  description: >-
                    Used to paginate through large result sets.  A next page
                    token will be returned whenever the set of available chat
                    history list exceeds 100.  The expiration period is 30
                    minutes.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                session_id: unique_id
                group_name: zoom
                from: '2016-01-16T00:00:00.000Z'
                to: '2016-01-22T00:00:00.000Z'
                page_size: 30
                page_count: 1
                next_page_token: ''
                chat_messages:
                  - message: test1
                    sender: ''
                    date_time: '2016-01-18T06:40:56.000Z'
  /chat/list:
    post:
      tags:
        - Chat
      description: |+
        Get chat history list for a specified time period.

      operationId: chatList
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - access_token
                - from
                - to
              type: object
              properties:
                access_token:
                  type: string
                  description: >-
                    Archived chat messages access token. Admin who has the view
                    privilege of Archived chat messages will get it.
                from:
                  type: string
                  description: Start date.
                to:
                  type: string
                  description: End date.
                page_size:
                  type: string
                  description: >-
                    The amount of records returns within a single API call.
                    Defaults to 30. Max of 30 records.
                  default: '30'
                email:
                  type: string
                  description: Email query condition.
                next_page_token:
                  type: string
                  description: >-
                    Used to paginate through large result sets.  A next page
                    token will be returned whenever the set of available chat
                    history list exceeds 100.  The expiration period is 30
                    minutes.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                from: '2016-01-16T00:00:00.000Z'
                to: '2016-01-22T00:00:00.000Z'
                page_size: 30
                page_count: 1
                next_page_token: ''
                chat_list:
                  - session_id: unique_id
                    type: Group
                    participants: ''
                    group_name: zoom test1
                    last_message_send_time: '2016-01-18T06:40:56.000Z'
components:
  schemas: {}
