openapi: 3.0.1
info:
  title: ' device/'
  description: Needs description.
  contact:
    name: Zoom Developers
    url: https://zoom.us/developer
    email: developer@zoom.us
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 1.0.0
externalDocs:
  description: Zoom REST API Documentation
  url: https://zoom.github.io/api
servers:
  - url: https://api.zoom.us/v1
security:
  - api_key: []
  - api_secret: []
tags: []
paths:
  /h323/device/create:
    post:
      tags:
        - Device
      description: |+
        Create a H.323/SIP Device on your Zoom account.

      operationId: deviceDeviceCreate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - ip
                - name
              type: object
              properties:
                name:
                  type: string
                  description: Display Name.
                ip:
                  type: string
                  description: IP Address or H.323 Extension.
                protocol_type:
                  type: string
                  description: Protocol type. 1 means H.323, 2 means SIP.
                  default: '1'
                encryption_type:
                  type: string
                  description: Encryption type. 0 means No, 1 means Yes, 2 means Auto.
                  default: '2'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                name: New Device
                ip: 192.168.1.10
                protocol_type: 1
                encryption_type: 2
  /h323/device/delete:
    post:
      tags:
        - Device
      description: |+
        Delete a H.323/SIP Device on your Zoom account.

      operationId: deviceDeviceDelete
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - id
              type: object
              properties:
                id:
                  type: string
                  description: Device ID.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                deleted_at: '2017-03-14T09:27:15.000Z'
  /h323/device/list:
    post:
      tags:
        - Device
      description: |+
        List H.323/SIP Devices on your Zoom account.

      operationId: deviceDeviceList
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                page_size:
                  type: string
                  description: >-
                    The amount of records returns within a single API call.
                    Defaults to 30.
                  default: '30'
                page_number:
                  type: string
                  description: Current page number of returned records. Default to 1.
                  default: '1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                page_count: 1
                page_number: 1
                page_size: 30
                total_records: 1
                devices:
                  - id: unique_id
                    name: New Device
                    ip: 192.168.1.10
                    protocol_type: 1
                    encryption_type: 2
  /h323/device/update:
    post:
      tags:
        - Device
      description: |+
        Update a H.323/SIP Device on your Zoom account.

      operationId: deviceDeviceUpdate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - id
              type: object
              properties:
                id:
                  type: string
                  description: Device ID.
                name:
                  type: string
                  description: Display Name.
                ip:
                  type: string
                  description: IP Address or H.323 Extension.
                protocol_type:
                  type: string
                  description: Protocol type. 1 means H.323, 2 means SIP.
                  default: '1'
                encryption_type:
                  type: string
                  description: Encryption type. 0 means No, 1 means Yes, 2 means Auto.
                  default: '2'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                updated_at: '2017-03-14T09:27:03.000Z'
components:
  schemas: {}
